*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: "Didact Gothic", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
}
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
:root {
  --sf-header-height: 63px;
  --font-base-size: 16;
  --font-h2-desktop: 42;
  --fluid-container-width: 1620px;
  --fluid-container-offset: 65px;
  --spacing-sections-desktop: 120px;
  --spacing-sections-tablet: 60px;
  --m-animation-duration: 600ms;
  --m-animation-fade-in-up: m-fade-in-up var(--m-animation-duration)
    cubic-bezier(0, 0, 0.3, 1) forwards;
}

.sf-header {
  --sf-sub-item-color: rgba(0, 0, 0, 0.55);
  --sf-sub-item-hover: #000;
  --sf-sub-item-bg: rgba(61, 61, 80, 0.09);
}

/* :root {
  --font-stack-body: "SF-Body-font";
  --font-weight-body: 400;
  --font-stack-header: "SF-Heading-font";
  --font-weight-header: 400;
} */
html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
body {
  --section-padding-top: 0px;
  --section-padding-bottom: 0px;
  line-height: inherit;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 14px;
  background-color: #ffffff;
  text-size-adjust: 100%;
}
h2 {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: Verdana;
}
.h4 {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: Verdana;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}
.btn-scroll-top {
  color: #fff;
  background-color: #000;
  position: fixed;
  bottom: 86px;
  right: 15px;
  z-index: 50;
  opacity: 1 !important;
  cursor: pointer;
}

.btn-scroll-top:hover {
  background-color: var(
    --color-btn-bg-hover,
    var(--color-primary-darker, #000)
  );
  border-color: #0000;
  box-shadow: 0 0 0 0.2rem var(--color-btn-bg-hover, #000);
  color: var(--color-btn-text-hover, #fff);
}
.max-w-full {
  max-width: 100%;
}

.w-0 {
  width: 0;
}
.h-0 {
  height: 0;
}
.invisible {
  visibility: hidden;
}

.opacity-0 {
  opacity: 0;
}
@media screen and (min-width: 1024px) {
  .lg\:flex-nowrap {
    flex-wrap: nowrap;
  }
  .lg\:w-1\/3 {
    width: 33.333333%;
  }
  .lg\:w-1\/6 {
    width: 5%;
  }
  .lg\:w-1\/4 {
    width: 20%;
  }
  .sf-footer-bottom--fade-in-up .sf__footer-bottom-inner {
    padding: 20px 0 56px;
  }
  .lg\:pb-8 {
    padding-bottom: 2rem;
  }
  .lg\:justify-start {
    justify-content: flex-start;
  }

  .rte p {
    list-style: 15px;
    margin-top: 12px;
    font-size: 0.9rem;
    font-weight: 300;
  }
}

img,
video {
  height: auto;
  max-width: 100%;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

.underline {
  text-decoration-line: underline;
}
.hidden {
  display: none;
}
.z-10 {
  z-index: 10;
}

.opacity-100 {
  opacity: 1;
}

.hover-opacity:hover {
  opacity: 0.5;
}

.font-medium {
  font-weight: 500;
}
.text-base {
  font-size: calc(var(--font-base-size, 16) * 1px);
}
.list-none {
  list-style-type: none;
}

.lh40 {
  line-height: 40px;
}
menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.text-black {
  color: #000;
  text-decoration: none;
}
.text-\[15px\] {
  font-size: 15px;
}
.m-2\.5 {
  margin: 0.625rem;
}
.-m-2\.5 {
  margin: -0.625rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mb-4 {
  margin-bottom: 1rem;
}

.mr-5 {
  margin-right: 1.25rem;
}
.-mx-4 {
  margin-left: -1rem;
  margin-right: -1rem;
}

.-mx-\[5px\] {
  margin-left: -5px;
  margin-right: -5px;
}
.mr-1 {
  margin-right: 0.8rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.pl-2\.5 {
  padding-left: 0.625rem;
}

.pr-4 {
  padding-right: 1rem;
}
.pr-5 {
  padding-right: 1.25rem;
}
.pr-6 {
  padding-right: 1.5rem;
}
.pl-2\.5 {
  padding-left: 0.625rem;
}
.w-5\/12 {
  width: 41.666667%;
  height: inherit;
}
.w-1\/6 {
  width: 16.666667%;
  align-items: center;
  height: inherit;
}
.w-1\/3 {
  width: 33.333333%;
  height: inherit;
}
.w-1\/4 {
  width: 25%;
  height: inherit;
}

/* .w-full {
  width: 100%;
}
*/
.h-full {
  height: 100%;
}

.p-1 {
  padding: 0.25rem;
}
.px-2 {
  padding: 0 0.5rem;
}
.px-3 {
  padding-left: 0.62rem;
  padding-right: 0.62rem;
}

.py-2 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.py-2\.5 {
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
}

.py-5 {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}

.px-4 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.cursor-pointer {
  cursor: pointer;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}

.flex-grow {
  flex-grow: 1;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

.w-\[14px\] {
  width: 14px;
}

.h-\[14px\] {
  height: 14px;
}
.w-\[16px\] {
  width: 16px;
}
.h-\[16px\] {
  height: 16px;
}

.w-\[18px\] {
  width: 18px;
}

.h-\[18px\] {
  height: 18px;
}

.w-\[20px\] {
  width: 20px;
}
.h-\[20px\] {
  height: 20px;
}
.w-\[45px\] {
  width: 45px;
}

.h-\[45px\] {
  height: 45px;
}
.w-10 {
  width: 2.5rem;
}

.h-10 {
  height: 2.5rem;
}

.w-2 {
  width: 0.5rem;
}

.h-2 {
  height: 0.5rem;
}

.transition-opacity {
  transition-duration: 0.15s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.-inset-0,
.inset-0 {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

#scroll-to-top-button {
  border-radius: 50%;
  padding: 0;
  display: inline-flex;
  width: 46px;
  height: 46px;
  visibility: hidden;
  transition: all 2.65s ease-in-out;
}
@media (max-width: 767px) {
  #scroll-to-top-button {
    width: 40px;
    height: 40px;
  }
  #scroll-to-top-button svg {
    width: 14px;
    height: 14px;
  }
}

@media screen and (min-width: 1536px) {
  .m-section-my {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 1535px) {
  .m-section-my {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.announcement-bar {
  background-color: #da3f3f;
  color: #fff;
  z-index: 60;
  width: 100%;
}

.announcement-bar_content {
  align-items: center;
  justify-content: center;
  line-height: 20px;
  margin-right: 2.5rem;
  max-height: 40px;
  padding-left: 1rem;
  padding: 0.625rem 0;
}
.btn-topbar_close {
  height: 100%;
  color: #fff;
  align-items: center;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 0 0.75rem;
}
.topbar {
  height: 40px;
  max-height: 40px;
  transition: background 0.05s;
  white-space: nowrap;
  z-index: 99;
  border-bottom: 1px solid #eee;
  font-size: 15px;
  color: #000000;
}

.topbar_content {
  margin-left: -15px;
  margin-right: -15px;
  cursor: pointer;
}
.topbar_content .m-switcher-dropdown,
.topbar_content .social-media-links a {
  padding: 0 16px;
}

.topbar_content .social-media-links {
  margin: 0 -8px;
}
.social-media-links--label {
  padding-left: 10px;
  padding-right: 16px;
}

.sf-menu-logo-bar {
  margin-left: -15px;
  margin-right: -15px;
  height: 63px;
}

/* drop-down */
.sf-menu-item .sf-menu__desktop-sub-menu {
  opacity: 0;
  pointer-events: none;
  transition-property: transform, opacity, visibility;
  visibility: hidden;
}
.sf-menu-item:hover > a:after {
  width: calc(100% - 2rem);
  position: fixed;
}
.sf-menu-item:hover .sf-menu__desktop-sub-menu,
.sf__menu-item-level2:hover .sf-menu--sub-childlink {
  opacity: 1;
  pointer-events: auto !important;
  transform: translateZ(0) !important;
  visibility: visible;
}

.sf-menu-item .sf-menu__submenu {
  white-space: normal;
}

.sf-menu__dropdown {
  box-shadow: 0 5px 15px #00000012;
  right: auto;
  transform: translate3d(0, 20px, 0) !important;
  transform-origin: center !important;
  transition: 0.3s ease-in-out !important;
}
.z-50 {
  z-index: 50;
}

.sf-menu__desktop-sub-menu {
  min-width: 250px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.sf-menu-submenu__content {
  --column-width: 200px;
  --items-width: calc(var(--total-columns) * var(--column-width, 200px));
}
.whitespace-nowrap {
  white-space: nowrap;
}
.p-4 {
  padding: 1rem;
}

.leading-9 {
  line-height: 2.25rem;
}

.sf__menu-item-level2 .sf__sub-menu-link2 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.sf-sub-menu__link {
  color: rgba(0, 0, 0, 0.55);
  display: block;
  font-weight: 400;
  overflow: hidden;
  padding: 0.25rem 0.75rem;
  transition: all 0.3s;
  white-space: normal;
}

.sf-sub-menu__link:hover {
  background: #e5e5e5;
  color: #000;
}

.sf-menu-item:hover .sf-menu__dropdown {
  opacity: 1;
  pointer-events: auto !important;
  transform: translateZ(0) !important;
  visibility: visible;
}

.sf-menu-item .sf-menu__submenu {
  white-space: normal;
}

.whitespace-normal {
  white-space: normal;
}

.sf-menu-submenu__content .w-full {
  width: 100%;
}

@media (min-width: 1536px) {
  .sf-menu-item > a {
    padding: 29px 20px;
  }

  .sf-menu-logo-bar {
    margin-left: -25px;
    margin-right: -25px;
    height: 63px;
  }

  .sf__hover-zoom-in .sf-image img {
    width: 100%;
  }
}
.sf-menu-item--mega .sf-menu__desktop-sub-menu {
  max-height: calc(100vh - var(--sf-header-height, 0px));
  overflow-x: hidden;
  overflow-y: scroll;
}

.dp-none {
  display: none !important;
}

.mn-badge {
  position: relative;
  height: 100%;
}

.mn-badge::before {
  content: var(--badge);
  background-color: var(--bg-color);
  position: absolute;
  top: -4px;
  left: 6px;
  font-size: 12px;
  text-transform: capitalize;
  line-height: 16px;
  padding: 1px 8px;
  font-weight: 500;
  border-radius: 11px;
  color: #fff;
}

.sf-image .f-img-loaded {
  animation: image-fade-in 0.6s cubic-bezier(0, 0, 0.3, 1) forwards;
}

responsive-image {
  display: inline-block;
}

.sf-menu-item--active .sf-menu__inner {
  animation: menu_slide_in 0.3s both;
}

/* .sf-menu__submenu.w-full {
  width: 100%;
  overflow: hidden;
} */

.sf-nav li.sf-menu-item--mega .sf-menu-submenu__content {
  padding-top: 20px;
}

.w-2\/3 {
  width: 66.666667%;
}

.-mx-2 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.py-12 {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.inset-x-0 {
  left: 0;
  right: 0;
}

.sf-menu-submenu__title {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  font-weight: 600;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

@media (min-width: 1280px) {
  .xl\:w-1\/3 {
    width: 33.333333%;
  }
}

@media (max-width: 1440px) {
  .sf-menu-item a {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

/* end drop-down */

.m-tooltip {
  border-radius: 9999px;
  cursor: pointer;
  position: relative;
  padding: 5px;
}
@media screen and (min-width: 1024px) {
  .m-cart-icon-bubble {
    margin-right: 22px;
  }
}

.m-cart-icon-bubble {
  padding: 8px;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: calc(
    var(--fluid-container-width, 1620px) + var(--fluid-container-offset) * 2
  );
}

.container-full {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.sf-currency-switcher,
.sf-language-switcher {
  padding: 0 0.5rem;
}

.header_wrapper {
  transition: transform 0.4s, background-color 0.2s;
  width: 100%;
  will-change: transform, background-color;
  height: 63px;
  position: relative;
  z-index: 5;
}

.sf-menu__arrow {
  transition: transform 0.3s;
}
.sf__parent-item {
  text-decoration: none;
  font-size: 14.5px;
  font-weight: 550;
}

.sf-logo {
  font-size: 1rem;
  line-height: unset;
  transition-duration: 0.3s;
  transition-property: all;
}
.sf-image {
  vertical-align: middle;
  width: var(--image-width, 100%);
}

.icon-header-style {
  font-size: 16px;
  border: 0 solid #e5e7eb;
  color: #000000;
  text-decoration: none;
}

.header-icon .sf-search-form {
  font-size: 1rem;
  height: 100%;
}

.sf-home__iconbox {
  border-top: 1px solid #eee;
}

.box-parents {
  padding: 2.35rem 0;
}
.text-color-subtext {
  color: #666666;
  margin: 0;
}

.sf__accordion-item .sf__accordion-button {
  cursor: pointer;
  font-weight: 500;
  padding-right: 2rem;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}

@media screen and (min-width: 1024px) {
  .sf__footer-block-newsletter .sf__footer-block-title {
    font-size: 28px;
    font-weight: 400;
  }
}

.sf-footer .sf-footer__block ul li {
  cursor: pointer;
  text-decoration: none;
  color: #666666;
}

.sf-footer__accordion {
  padding: 80px 0;
}

.sf-footer .sf__footer-block-content,
.sf-footer,
.subtext {
  text-decoration: none;
  color: #666666;
}

.leading-8 {
  line-height: 2rem;
}

.sf-footer form.sf__footer-form-newsletter .sf__newletter__form-input {
  color: var(--color-footer-subtext);
  padding: 0.375rem 3rem;
}

.form-control {
  --tw-text-opacity: 1;
  background-color: transparent;
  background-color: #fff;
  border-color: var(--color-border);
  border-radius: 0.25rem;
  border-width: 1px;
  color: rgb(55 65 81 / var(--tw-text-opacity));
  font-size: calc(var(--font-base-size, 16) * 1px);
  line-height: 2rem;
  margin-bottom: 10px;
  margin-top: 5px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: 0.375rem 0.75rem;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  font-weight: 300;
}

.sf__footer-form-newsletter-icon,
.sf__footer-form-newsletter .sf__form-submit {
  align-items: center;
  display: inline-flex;
  height: 100%;
  left: 5px;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  color: #666666;
}
.sf__footer-form-newsletter .sf__form-submit {
  left: auto;
  padding: 0 15px;
  pointer-events: auto;
  right: 0;
  cursor: pointer;
}

.sf__footer-form-newsletter .sf__form-submit:hover {
  color: #000;
}
.form-control.form__control-icon {
  border: 0 solid #e5e7eb;
  padding-left: 3rem;
  padding-right: 3rem;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  background-color: transparent;
  background-image: none;
  border: none;
}

/* footer-related */
.m-section-py {
  --section-padding-top-laptop: calc(var(46px) * 0.8);
  --section-padding-bottom-laptop: calc(var(46px) * 0.8);
}
.m-icon-box--small {
  border-top: 1px solid #eeeeee;
}

@media screen and (min-width: 1536px) {
  .container-fluid {
    padding: 0 var(--fluid-container-offset, 60px);
  }
  .m-section-py {
    padding-top: 46px;
    padding-bottom: 46px;
  }
}
@media screen and (max-width: 1535px) {
  .m-section-py {
    padding-top: 36.8px;
    padding-bottom: 36.8px;
  }
}
@media (min-width: 768px) {
  .md\:m\:grid-2-cols {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .m-icon-box__icon {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 640px) {
  .m-icon-box--horizontal .m-icon-box__icon {
    margin-right: 20px;
  }
  .sm\:m\:text-left {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .m-swiper-overflow {
    --swiper-container-offset-top: 30px;
    --swiper-container-side-spacing: calc(-1 * var(--column-gap) / 2);
  }
  .lg\:m\:grid-4-cols_footer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .m-mixed-layout {
    margin-left: calc(var(--column-gap, 0) / -2);
    margin-right: calc(var(--column-gap, 0) / -2);
  }
  .m-icon-box-section__wrapper {
    position: relative;
  }
  .m\:column {
    padding-left: calc(var(--column-gap, 0) / 2);
    padding-right: calc(var(--column-gap, 0) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .m-hover-box__wrapper {
    width: 100%;
    border-radius: inherit;
    overflow: hidden;
  }
}

.m\:grid,
.m\:display-grid {
  display: grid;
}
.m-icon-box-section__wrapper {
  position: relative;
}
.m\:block {
  display: block;
}
.m-mixed-layout__inner {
  margin-left: 0;
  margin-right: 0;
}
.m-icon-box__inner {
  display: flex;
}
.m\:flex-nowrap {
  flex-wrap: nowrap;
}
.m\:flex-nowrap {
  flex-wrap: nowrap;
}

.m-icon-box__icon {
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}
.m\:items-start {
  align-items: start;
}

.m-icon-box--small .m-icon-box__heading {
  font-family: inherit;
  line-height: 26px;
  font-size: 17px;
  margin-bottom: 10px;
  font-weight: 450;
}
.m-icon-box__description {
  color: #666666;
}

.footer-layout {
  background-color: #f5f5f5;
}

.hover-underline a {
  text-decoration: none;
  position: relative;
  color: #666666;
  font-size: 1rem;
  font-family: "Didact Gothic", sans-serif;
}

.leading-8 {
  line-height: 2rem;
}

.hover-underline.active a,
.hover-underline:hover a {
  color: #000;
}

.hover-underline.active a:after,
.hover-underline:hover a:after {
  width: 100%;
}

.leading-8 a::after {
  background-color: #000;
  bottom: -2px;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transition: all 0.3s ease;
  width: 0;
}

.sf-footer__block .social-media-links a {
  color: #222;
  width: 48px;
  height: 48px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e9e9e9;
  transition: all 0.3s;
}

.sf-footer__block .social-media-links a:hover {
  color: #fff;
  background-color: #000;
  box-shadow: #222;
  transition: all 0.25s linear;
  transform: scale(1.1);
}

/* follow instagram */

.sf__ms {
  display: block;
}
/* .sf__insta-item {
  display: block;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
} */

.sf__insta-item [style*="--aspect-ratio"]:before {
  padding-top: calc(100% / (0.0001 + var(--aspect-ratio, 16/9)));
}
.sf__insta-item [style*="--aspect-ratio"]:before {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  height: 0px;
}
.sf__insta-item [style*="--aspect-ratio"] {
  position: relative;
  overflow: hidden;
}
.sf__insta-item [style*="--aspect-ratio"] > *:first-child {
  top: 0;
  left: 0;
  right: 0;
  position: absolute !important;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sf__insta-item .sf__insta-image img {
  transform: scale(1.06);
  transform-origin: center;
  transition: transform 0.64s ease;
  will-change: transform;
}

.sf__insta-item .sf__insta-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 10;
}

.sf__insta-item .sf__insta-content .sf__insta-icon {
  align-items: center;
  background: #fff;
  border-radius: 50%;
  display: flex;
  height: 55px;
  justify-content: center;
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 0.32s cubic-bezier(0.4, 0, 0.21, 0.99),
    transform 0.32s cubic-bezier(0.4, 0, 0.21, 0.99);
  width: 55px;
  will-change: transform;
}

.sf__insta-item .sf__insta-content .sf__insta-icon svg {
  height: 24px;
  width: 24px;
}

.sf__insta-item:hover .sf__insta-image img {
  transform: scale(1);
}

.sf__insta-item:hover .sf__insta-content .sf__insta-icon {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 1280px) {
  .sf-grid {
    row-gap: var(--row-gap, var(--column-gap));
    margin-left: calc(var(--column-gap, 0) / -2);
    margin-right: calc(var(--column-gap, 0) / -2);
  }
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.md\:grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  /* .sf-grid {
    margin-left: min(-7.5px, var(--column-gap-mobile, var(--column-gap)) / -2);
    margin-right: min(-7.5px, var(--column-gap-mobile, var(--column-gap)) / -2);
  } */
  .md\:mt-5 {
    margin-top: 1.25rem;
  }
}

.sf-column {
  padding: 0 calc(var(--column-gap) / 2) var(--row-gap, var(--column-gap));
}
@media screen and (min-width: 1280px) {
  .xl\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.section__header.text-center {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 60px;
}

@media screen and (max-width: 1535px) {
  .section__header {
    margin-bottom: 50px;
  }
  .section__heading {
    font-weight: 400;
    font-size: 34px !important;
    line-height: 44px !important;
  }
}
.section__description {
  color: #666666;
  font-size: 15px;
  margin-top: 1rem;
  line-height: 1.5rem !important;

  font-weight: 300;
}

.section__description a {
  color: #000;
  font-weight: 500;
  text-decoration: underline;
}

/* new collection  */

.sf-custom--collection-banner .image-card--button-fixed .sf__btn-fixed {
  border-color: #e2e2e2;
}
.image-card--button-fixed .sf__btn-fixed {
  align-items: center;
  background-color: transparent;
  border-color: currentColor;
  border-radius: 0;
  font-weight: 400;
  border-width: 1px 0 0 !important;
  bottom: 0;
  box-shadow: none !important;
  display: flex;
  justify-content: space-between;
  left: 2.5rem;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  right: 2.5rem;
}

@media screen and (min-width: 1280px) {
  .sf-custom--collection-banner .image__card-subheading,
  .sf-lookbook-slider__header .content__subheading {
    font-size: 20px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .sf-lookbook-slider__header .content__heading,
  .sf-custom-text--large .content__heading,
  .sf-custom--collection-banner .image__card-heading {
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
  }
}

.image__card-subheading,
.content__subheading {
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  .lg\:w-1\/2 {
    width: 50%;
  }
  .image-card--button-fixed .sf__btn-fixed {
    padding-bottom: 40px;
    padding-top: 24px;
  }
  .btn.sf__btn-large,
  .sf__btn-large.shopify-payment-button__button.shopify-payment-button__button--unbranded,
  .sf__btn.sf__btn-large {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 450;
  }
}

.image-card--button-fixed .sf__btn-fixed {
  padding-bottom: 20px;
}

.btn.sf__btn-large,
.sf__btn-large.shopify-payment-button__button.shopify-payment-button__button--unbranded,
.sf__btn.sf__btn-large {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

.btn,
.sf__btn {
  border: 1px solid transparent;
  border-radius: var(--btn-border-radius, 0);
  display: inline-block;
  font-size: var(--font-btn-size, 1rem);
  font-weight: var(--font-btn-weight, 500);
  letter-spacing: var(--btn-letter-spacing, 0);
  line-height: var(--btn-line-height, "normal");
  outline: none;
  text-transform: var(--btn-text-transform, "");
  transition: all 0.32s;
}
@media (min-width: 768px) {
  .btn,
  .sf__btn {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .image-card--button-fixed .sf__btn-fixed {
    padding: 24px 0 40px;
    text-align: center;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1024px) {
  .sf-custom--collection-banner .image-card__content {
    padding-top: 70px;
  }
}

.responsive-image {
  display: inline-block;
}

.sf__hover-scale-up .sf-image,
.sf__hover-scale-up svg {
  backface-visibility: hidden;
  transition: transform 0.64s cubic-bezier(0.15, 0.75, 0.5, 1) 0s;
}

.image-card__inner img {
  display: block;
  transition: all 0.52s ease;
  cursor: pointer;
}

.image-card__inner img:hover {
  transform: scale(1.1);
}

.image-card__inner .sf-image-collections {
  display: inline-block;
  overflow: hidden;
}

responsive-image {
  display: inline-block;
}

/* end  */

/* Slider  */

.slider__navi {
  top: 50%;
  bottom: 50%;
  right: 40px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 999;
  padding: 5px 0;
  pointer-events: auto;
  z-index: 39;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider__navi a {
  border-radius: 10px;
  height: 8px;
  width: 8px;
  margin: 8px 0;
  text-indent: -9999px;
  box-shadow: none;
  border: none;
  background: #000;
  transition: width 0.5s ease-in-out 0s;
}

.slider__navi a.active {
  background: transparent;
  border: 1px solid #000;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  transition: ease-in-out 0.5s linear;
}

.slider__wrapper {
  width: 100%;
  position: relative;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  height: 593px;
  z-index: 3;
}

.flex__container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  height: 593px;
  width: 100%;
  z-index: 1;
}

.flex__shopNow {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  z-index: 29;
  gap: 8px;
  display: flex;
  justify-content: end;
}

.last-content-slide {
  width: 240px;
  display: flex;
  justify-content: space-around;
}
.last-content-slide a {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #000;
  font-size: 16px;
  font-weight: 549;
  padding: 0 0 4px 0;
}

.flex__container.flex--active {
  z-index: 2;
}

.text--sub {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
}

.text--big {
  font-family: "Poppins", sans-serif;
  font-size: 3.5em;
  font-weight: 400;
  line-height: 80px;
}

.text--normal {
  font-size: 13px;
  color: #000000;
  line-height: 22px;
  margin-top: 25px;
}

.text__background {
  font-family: "Poppins", sans-serif;
  position: absolute;
  left: 72px;
  bottom: -60px;
  color: rgba(0, 0, 0, 0.05);
  font-size: 170px;
  font-weight: 700;
}

.flex__item {
  height: 100%;
  color: #000000;
  transition: transform 0.3s ease-in-out;
}
@media screen and (min-width: 1280px) {
  .flex__item {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.flex__item--slider {
  align-items: flex-start;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  width: 100%;
  transform-origin: left bottom;
  transition: all 0.3s ease;
  opacity: 0;
  position: relative;
  overflow: hidden;
}

.flex--preStart .flex__item--slider,
.flex--preStart,
.flex--active .flex__item--slider,
.flex--active {
  opacity: 1;
  transition: all 0.3s ease;
}

/* data-slide 3*/

.flex--slide3 {
  width: 100%;
  background: url("../dist/images/slide3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  transition-duration: var(--offset-x);
}

/* data-slide 2 */

.flex--slide2 {
  width: 100%;
  background: url("../dist/images/slide2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  transition-duration: var(--offset-x);
}

/* data-slide 1 */

.flex--slide1 {
  width: 100%;
  background-image: url("../dist/images/slide1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  transition-duration: var(--offset-x);
}

.flex__content {
  width: 30%;
  opacity: 1;
  transition: transform 0.3s ease 0.3s, opacity 0.3s ease 0.3s;
}
.flex__item--slider .flex__content .sf__btn-secondary {
  border: 1px solid #000;
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
  transition: all 0.3 ease;
  opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--slider {
  transition: all 0.3 ease;
}

.flex__container.animate--end .flex__content {
  transition: all 0.3 ease;
  opacity: 0;
}

/* end Slider */

/* season collection */

@media screen and (min-width: 1024px) {
  .container-fluid {
    --offset-x: calc(var(--fluid-container-offset, 6rem) / 1.25);
  }
}

@media screen and (max-width: 1535px) {
  .section__header {
    margin-bottom: 50px;
  }

  .section__header-shop-category {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1535px) {
  .slider__wrapper {
    width: 100%;
    position: relative;
    font-size: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    height: 1066px;
  }

  .flex__container {
    width: 100%;
    height: 1066px;
  }
  .slider__navi {
    bottom: 50%;
    top: 50%;
  }
}

@media (min-width: 1024px) {
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 640px) {
  .sm\:items-start {
    align-items: flex-start;
  }
}

.flex-col {
  flex-direction: column;
}

.shrink-0 {
  flex-shrink: 0;
}
.sf-icon-box__icon {
  width: 100%;
  overflow: hidden;
}
.flex-1 {
  flex: 1 1 0%;
}
.font-medium {
  font-weight: 500;
}

.sf__btn {
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border-color: #dadada;
}

.sf__btn.sf__btn-secondary,
a.sf__btn.sf__btn-secondary,
button.sf__btn.sf__btn-secondary {
  background-color: transparent;
  border: 1px solid #dadada;
  border-radius: 5px;
  color: #000000;
  text-align: center;
  padding: 0.625rem 1.25rem;
  text-align: center;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 450;
}

.sf__btn.sf__btn-secondary:hover {
  background-color: #000000;
  outline: none;
  color: #fff;
  transform: scale(1.01, 1.01);
  transition: all 0.52s;
}

.mb-1\.5 {
  margin-bottom: 0.375rem;
}

.sf-icon-box__icon img {
  display: block;
  transition: all 0.52s ease;
}

.sf-icon-box__icon img:hover {
  transform: scale(1.1);
}

.sf-icon-box__icon .zoom-image {
  display: inline-block;
  overflow: hidden;
}

/* end */

/* shop by Category */

/* [style*="--aspect-ratio"] > :first-child {
  bottom: 0;
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute !important;
  right: 0;
  top: 0;
  width: 100%;
} */

.sf-slider__controls:not(.hidden) {
  align-items: center;
  border: 1px solid #dadada;
  border-radius: 44px;
  display: inline-flex;
  height: 40px;
  justify-content: center;
}

.collection-list.sf-slider__fraction
  .collection-list__controls.absolute
  .sf-slider__controls-button {
  width: 30px;
  height: 40px;
}
.collection-list.sf-slider__fraction
  .collection-list__controls.absolute
  .sf-slider__controls-button {
  height: 44px;
  width: 34px;
}
.collection-list__controls.absolute .sf-slider__controls-button {
  margin: 0;
}
.collection-list__controls.absolute .sf-slider__controls-button {
  backface-visibility: hidden;
  background: none !important;
  border: none;
  box-shadow: none !important;
  color: #000 !important;
  height: 30px;
  transform: translateZ(0);
  transition: all 0.15s ease;
  width: 30px;
}
.collection-list__controls .sf-slider__controls-button {
  flex: 0 0 auto;
}
.sf-slider__fraction .sf-slider__controls-button {
  width: 30px;
  height: 40px;
}
.sf-slider__fraction .sf-slider__controls-button {
  background-color: transparent !important;
  border: 0;
  box-shadow: unset !important;
  color: var(--color-btn-secondary-text) !important;
  height: 44px;
  width: 34px;
}
.sf-slider__fraction .sf-slider__controls-button,
.sf-slider__fraction .swiper-pagination {
  margin: 0;
}
.sf-slider__fraction .sf-slider__controls-button {
  background-color: transparent !important;
  border: 0;
  box-shadow: unset !important;
  color: var(--color-btn-secondary-text) !important;
  height: 44px;
  width: 34px;
}
.sf-slider__fraction .sf-slider__controls-button,
.sf-slider__fraction .swiper-pagination {
  margin: 0;
}
.sf-slider__controls button {
  align-items: center;
  border-color: var(--color-border);
  box-shadow: none;
  color: currentColor;
  display: inline-flex;
  flex: 0 0 auto;
  height: 50px;
  justify-content: center;
  outline: none;
  padding: 0;
  pointer-events: auto;
  transition: all 0.3s ease;
  width: 50px;
  z-index: 1;
}

.collection-list__controls.absolute .sf-slider__controls-button {
  backface-visibility: hidden;
  background: none !important;
  border: none;
  box-shadow: none !important;
  color: #000 !important;
  height: 30px;
  transform: translateZ(0);
  transition: all 0.15s ease;
  width: 30px;
  flex: 0 0 auto;
}

.collection-list__controls .swiper-pagination {
  margin-top: 0;
  position: static !important;
}
.collection-list .w-full .collection-list__controls.absolute {
  right: 1rem;
}

.collection-list__controls.absolute {
  height: 100%;
  right: 0;
  top: 0;
}
.sf-slider__fraction .sf-slider__controls {
  padding: 0 5px;
  border-color: #eee;
}
.collection-list__inner--overflow {
  padding-left: 0;
  width: 130vw;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.collection-list__inner--overflow .w-full {
  width: 100%;
}

.sf-mixed-layout {
  margin: 0 calc(var(--column-gap) / -2);
}
/* .m-collection-list__wrapper {
  margin-bottom: calc(var(--row-gap, var(--column-gap)) / -1);
} */

.swiper-container {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1;
}

.slide-container {
  overflow: hidden;
}

.swiper-container-autoheight .swiper-slide {
  height: auto;
}

@media (max-width: 1535px) {
  .m-collection-list .sf-mixed-layout__wrapper {
    height: 581px;
  }
}
@media (min-width: 1536px) {
  .m-collection-list .sf-mixed-layout__wrapper {
    height: 771px;
  }
  .collection-list__inner--overflow .swiper-slide {
    padding-top: var(--column-gap);
  }

  .collection-card--hover-scaling-up.collection-card--inside
    .collection-card__image {
    backface-visibility: hidden;
    overflow: hidden;
    transform: scale(1) translateZ(0);
    transition: transform 0.64s cubic-bezier(0.15, 0.75, 0.5, 1) 0s;
  }
}

.m-collection-list .sf-mixed-layout__wrapper {
  margin-bottom: 0;
  transform: translate3d(-1641px, 0px, 0px);
  transition-duration: 0ms;
}

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.sf-mixed-layout--slider .sf-mixed-layout__wrapper {
  display: flex;
}

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-wrapper {
  box-sizing: content-box;
  display: flex;
  height: 100%;
  position: relative;
  transition-property: transform;
  width: 100%;
  z-index: 1;
}

.swiper-slide {
  flex-shrink: 0;
  height: 100%;
  position: relative;
  transition-property: transform;
  width: 410.25px;
}

.collection-card__inner {
  height: 100%;
  backface-visibility: hidden;
  cursor: pointer;
  position: relative;
  transform: translateZ(0);
}

.collection-card--hover-scaling-up.collection-card--inside
  .collection-card__image {
  backface-visibility: hidden;
  overflow: hidden;
  transform: scale(1) translateZ(0);
  transition: transform 0.64s cubic-bezier(0.15, 0.75, 0.5, 1) 0s;
}

.collection-card--hover-scaling-down
  .collection-card__inner
  .collection-card__image.collection-card__image-rounded,
.collection-card--hover-scaling-down
  .collection-card__inner
  .collection-card__image
  svg,
.collection-card--hover-scaling-down .collection-card__inner .sf-image,
.collection-card--hover-scaling-down .collection-card__inner svg {
  backface-visibility: hidden;
  transform: scale(1) translateZ(0);
  transition: transform 0.64s cubic-bezier(0.15, 0.75, 0.5, 1) 0s;
}

.collection-card--inside:hover .sf__btn {
  background: #000;
  color: #fff;
}
.collection-card--inside .sf__btn {
  background: #fff;
  color: #000;
  border: none;
}

.collection-card--inside .collection-card__info {
  bottom: 0;
  left: 0;
  margin-top: 0;
  padding: 0.75rem;
  position: absolute;
  right: 0;
}

.collection-card__inner .collection-card__info h3 a {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 400;
}

.collection-card--inside .collection-card__info p {
  margin-top: 0;
}

.collection-card__info.text-left .btn {
  border-radius: 50%;
  display: inline-flex;
  padding: 0;
  position: absolute;
  right: 1.875rem;
  top: 0;
  transform: translateY(0%);
}
@media (min-width: 1280px) {
  .swiper-container {
    margin-right: calc(1 / 4 * -20%);
  }

  .collection-card--inside .collection-card__info {
    padding: 1.25rem 1.875rem;
  }

  .swiper--equal-height .swiper-slide > * {
    height: 100%;
  }
}

.m-collection-list .sf-mixed-layout__wrapper {
  margin-bottom: 0;
}
.sf-image .f-img-loaded {
  animation: image-fade-in 0.6s cubic-bezier(0, 0, 0.3, 1) forwards;
}

.collection-list__controls.absolute .sf-slider__controls-button svg {
  backface-visibility: hidden;
  transform: translateZ(0);
}

.collection-list__controls.absolute .sf-slider__controls-button:hover {
  transform: scale3d(1.3, 1.3, 1.3);
}

.collection-list__controls.absolute .sf-slider__controls-button:hover svg {
  transform: translateZ(0);
}
.collection-list__controls .swiper-pagination {
  margin-top: 0;
  position: static !important;
}

@media (min-width: 768px) {
  .collection-list__inner--overflow .swiper-slide {
    padding-top: var(--column-gap);
  }
}
@media (min-width: 1750px) {
  .collection-list__inner--overflow {
    padding-left: 465px;
  }
}
@media (min-width: 1920px) {
  .collection-list__inner--overflow {
    margin-right: -200px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1750px) {
  .collection-list__inner--overflow {
    padding-left: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .collection-card--hover-scaling-up:hover .collection-card__image {
    transform: scale(1) translateZ(0);
  }

  .collection-card--hover-scaling-up:hover .collection-card__image .sf-image,
  .collection-card--hover-scaling-up:hover .collection-card__image svg {
    transform: scale(1.1) translateZ(0);
  }

  .collection-card--hover-scaling-up:hover
    .collection-card__image.collection-card__image-rounded {
    transform: scale(1.08) translateZ(0);
  }

  .collection-card--hover-scaling-up:hover
    .collection-card__image.collection-card__image-rounded
    .sf-image,
  .collection-card--hover-scaling-up:hover
    .collection-card__image.collection-card__image-rounded
    svg {
    transform: scale(1) translateZ(0);
  }

  .collection-card--hover-scaling-up:hover.collection-card--inside
    .collection-card__image {
    transform: scale(1.08) translateZ(0);
  }

  .collection-card--hover-scaling-up:hover.collection-card--inside
    .collection-card__image
    .sf-image,
  .collection-card--hover-scaling-up:hover.collection-card--inside
    .collection-card__image
    svg {
    transform: scale(1) translateZ(0);
  }

  .swiper-container {
    margin-right: calc(1 / 4 * -20%);
  }
  [dir="rtl"] .swiper-container {
    margin-right: 0;
    margin-left: calc(1 / 4 * -20%);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .sf-scroll-trigger:not(.sf-scroll-trigger--offscreen).animate--fade-in-up {
    animation: var(--m-animation-fade-in-up);
    animation-delay: calc(var(--animation-order) * 75ms);
  }
}

.collection-list .collection-list__controls--bottom {
  height: auto !important;
  left: 0 !important;
  right: 0 !important;
  top: auto !important;
}
/* end shop Category */

/* shop this look */

@media (min-width: 768px) {
  .sf-lookbook .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .sf-lookbook .sf-lookbook-slider > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .hidden.md\:block {
    display: flex !important;
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .lg\:mb-10 {
    margin-bottom: 2.5rem;
  }
}
.sf-lookbook .sf-column--full {
  grid-column: 1/-1;
}
m-lookbook-slider {
  display: block;
}

.sf-lookbook-slider {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.sf-lookbook-slider__wrapper {
  --offset-x: 110px;
  --offset-y: 50px;
  padding-right: var(--offset-x);
}

.sf__pcard .sf__pcard-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sf__pcard .sf__pcard-image .spc__main-img {
  opacity: 1;
  transition: opacity 0.8s ease;
  z-index: 10;
  width: 100%;
}

.spc__main-img [style*="--aspect-ratio"] {
  overflow: hidden;
  position: relative;
}
.sf__pcard .sf__pcard-image .spc__hover-img {
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.8s ease,
    transform 1.1s cubic-bezier(0.15, 0.75, 0.5, 1) 0s;
}
.sf__image-box .w-full {
  width: 100%;
}
.spc__hover-img,
.spc__main-img {
  overflow: hidden;
}

@media (min-width: 1025px) {
  .sf__pcard .sf__pcard-image:hover .sf__pcard-action {
    opacity: 1;
    transform: translateZ(0);
  }

  .sf__pcard .sf__pcard-image:hover .prod__countdown {
    opacity: 0;
    transform: translate3d(0, 150%, 0);
  }

  .sf__pcard .sf__pcard-image:hover .sf__pcard-quick-add {
    opacity: 1;
    transform: translateZ(0);
  }

  .sf__pcard .sf__pcard-image:hover .spc__main-img {
    opacity: 0;
  }

  .sf__pcard .sf__pcard-image:hover .spc__main-img.spc__img-only {
    opacity: 1;
  }

  .sf__pcard .sf__pcard-image:hover .spc__hover-img {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1) translateZ(0);
  }

  .sf__pcard .sf__pcard-image:hover .spc__hover-img img,
  .sf__pcard .sf__pcard-image:hover .spc__hover-img svg {
    backface-visibility: hidden;
    transform: translateZ(0);
  }

  .sf__pcard .sf__pcard-image:hover.spc__img-only .spc__main-img {
    opacity: 1;
  }
}

.sf__pcard-action .sf__btn-icon {
  height: 42px;
  margin-bottom: 10px !important;
  width: 42px;
}

.sf__pcard-action .sf__btn-icon svg {
  height: 15px !important;
  width: 15px !important;
}

.sf__pcard-action .sf-wishlist__button svg,
.sf-pqv__button svg {
  margin: auto;
}

.sf__pcard-style-1 .sf__pcard-image .sf__pcard-action {
  opacity: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  transform: translate3d(150%, 0, 0);
  transition: all 0.3s ease;
}

.sf__pcard-style-1 .sf__pcard-image .sf__pcard-quick-add {
  display: none;
}

@media (min-width: 768px) {
  .sf__pcard-style-1 .sf__pcard-image .sf__pcard-quick-add {
    display: flex;
  }
}

.sf__pcard-style-1 .sf__pcard-image .sf__pcard-quick-add {
  bottom: 20px;
  left: 20px;
  opacity: 0;
  position: absolute;
  right: 20px;
  transform: translate3d(0, 150%, 0);
  transition: all 0.3s ease;
}

.sf__pcard-tags {
  left: 1.125rem;
  top: 1.125rem;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.f-price__sale,
.f-price__availability,
.f-price .f-price__badge-sale,
.f-price .f-price__badge-sold-out,
.f-price--on-sale .f-price__regular,
.f-price--on-sale .f-price__availability,
.f-price--no-compare .f-price__compare {
  display: none;
}

.f-price {
  gap: 10px;
}

.f-price--on-sale .f-price__sale {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  line-height: 1.2;
}

.f-price--sold-out .f-price__badge-sold-out,
.f-price--on-sale .f-price__badge-sale,
.f-price--sold-out .f-price__badges,
.f-price--on-sale .f-price__badges {
  display: inline-flex;
}
.f-price__unit-wrapper {
  width: 100%;
}

@media (min-width: 1024px) {
  .lg\:mt-5 {
    margin-top: 1.25rem;
  }
}

@media (min-width: 1025px) {
  .sf__pcard .sf__pcard-image:hover .sf__pcard-action {
    opacity: 1;
    transform: translateZ(0);
  }

  .sf__pcard .sf__pcard-image:hover .prod__countdown {
    opacity: 0;
    transform: translate3d(0, 150%, 0);
  }

  .sf__pcard .sf__pcard-image:hover .sf__pcard-quick-add {
    opacity: 1;
    transform: translateZ(0);
  }

  .sf__pcard .sf__pcard-image:hover .spc__main-img {
    opacity: 0;
  }

  .sf__pcard .sf__pcard-image:hover .spc__main-img.spc__img-only {
    opacity: 1;
  }

  .sf__pcard .sf__pcard-image:hover .spc__hover-img {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1) translateZ(0);
  }

  .sf__pcard .sf__pcard-image:hover .spc__hover-img img,
  .sf__pcard .sf__pcard-image:hover .spc__hover-img svg {
    backface-visibility: hidden;
    transform: translateZ(0);
  }

  .sf__pcard .sf__pcard-image:hover.spc__img-only .spc__main-img {
    opacity: 1;
  }
}

.sf__pcard-style-1 .sf__pcard-quick-add .sf__btn {
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.sf__pcard-style-1 .sf__pcard-quick-add .sf__btn:hover {
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.leading-normal {
  line-height: 2.5;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

.sf__pcard .sf__pcard-price .prod__price {
  font-weight: 400;
}

.f-price-item {
  font-size: 16px;
}

.sf__pcard swatch-color .sf__tooltip-item {
  background: transparent;
}

.prod__tag {
  align-items: center;
  border-radius: 11px;
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
  padding: 2px 10px;
  text-transform: uppercase;
}

.prod__tag:not(.hidden) {
  display: inline-flex;
}

.prod__tag-hot {
  background-color: #9a84c8;
}

.prod__tag-sale {
  background-color: #da3f3f;
  color: #fff;
  height: 21px;
}

.prod__compare_price {
  color: #666666;
}

.prod__tag-new {
  background-color: #98d8ca;
}

.prod__tag-discounted {
  background-color: #da3f3f;
  color: #fff;
  height: 21px;
}

.prod__tag-preorder .foxkit-preorder-badge {
  background: transparent;
  border-radius: 11px;
  color: #fff;
  font-size: inherit;
  font-weight: 500;
  padding: 0;
  position: static;
}

.prod__tag-preorder .foxkit-preorder-badge:not(:first-child) {
  display: none;
}

.prod__tag--soldout {
  align-items: center;
  background: #b1b1b1;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  height: 54px;
  justify-content: center;
  left: 50%;
  line-height: 12px;
  padding: 0 10px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: normal;
  width: 54px;
}

.sf-menu-item--mega,
.sf-nav,
.sf__parent-item {
  height: 100%;
}

.sf__btn.sf__btn-link,
a.sf__btn.sf__btn-link,
button.sf__btn.sf__btn-link {
  border-bottom-color: currentColor;
  border-radius: 0;
  border-width: 0;
  padding: 0.25rem 0;
  position: relative;
}

.sf__btn.sf__btn-link.sf__btn-light,
a.sf__btn.sf__btn-link.sf__btn-light,
button.sf__btn.sf__btn-link.sf__btn-light {
  color: #fff;
}

.sf__btn.sf__btn-link:focus,
.sf__btn.sf__btn-link:hover,
a.sf__btn.sf__btn-link:focus,
a.sf__btn.sf__btn-link:hover,
button.sf__btn.sf__btn-link:focus,
button.sf__btn.sf__btn-link:hover {
  background: none;
}

.sf__btn.sf__btn-link:focus:before,
.sf__btn.sf__btn-link:hover:before,
a.sf__btn.sf__btn-link:focus:before,
a.sf__btn.sf__btn-link:hover:before,
button.sf__btn.sf__btn-link:focus:before,
button.sf__btn.sf__btn-link:hover:before {
  transform: scaleX(0) translateZ(0);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sf__btn.sf__btn-link:focus:after,
.sf__btn.sf__btn-link:hover:after,
a.sf__btn.sf__btn-link:focus:after,
a.sf__btn.sf__btn-link:hover:after,
button.sf__btn.sf__btn-link:focus:after,
button.sf__btn.sf__btn-link:hover:after {
  transform: scaleX(1) translateZ(0);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}

.sf__btn.sf__btn-link:after,
.sf__btn.sf__btn-link:before,
a.sf__btn.sf__btn-link:after,
a.sf__btn.sf__btn-link:before,
button.sf__btn.sf__btn-link:after,
button.sf__btn.sf__btn-link:before {
  background: currentColor;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scaleX(1) translateZ(0);
  transform-origin: right;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  width: 100%;
}

.sf__btn.sf__btn-link:after,
a.sf__btn.sf__btn-link:after,
button.sf__btn.sf__btn-link:after {
  transform: scaleX(0) translateZ(0);
  transform-origin: left;
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sf-menu-submenu__items {
  font-family: "Didact Gothic", sans-serif;
}

.sf-nav .sf-menu-item > a {
  line-height: 23px;
  position: relative;
}

.sf-menu-item:hover .sf-menu__arrow {
  transform: rotateX(-180deg);
  transition: all 0.35s ease-in-out;
}

.sf-nav .sf-menu-item > a::after {
  background-color: currentColor;
  bottom: calc(1.25rem - 5px);
  content: "";
  height: 2px;
  position: absolute;
  transition: 0.2s ease-in-out;
  width: 0;
}

.sf-nav .sf-menu-item:hover > a:after {
  width: calc(100% - 1.5rem);
}
.sf-menu-item:hover .sf-menu__dropdown,
.sf__menu-item-level2:hover .sf-menu--sub-childlink {
  opacity: 1;
  pointer-events: auto !important;
  transform: translateZ(0) !important;
  visibility: visible;
}

.sf-menu-item--mega .sf-menu__desktop-sub-menu::-webkit-scrollbar {
  display: none;
}

.sf__tooltip-item {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  border-radius: 9999px;
  cursor: pointer;
  padding: 5px;
  position: relative;
}

.sf__pcard .sf__variant-swatch .product-option-item {
  font-size: 0;
}

.sf__variant-swatch.sf_variant-selected .product-option-item,
.sf__variant-swatch input:checked + .product-option-item {
  box-shadow: 0 0 0 1px #000, inset 0 0 0 4px #fff;
}

.sf__variant-swatch .product-option-item {
  border-radius: 50%;
  box-shadow: 0 0 0 1px #0000001a;
  height: 26px;
  position: relative;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  width: 26px;
}

.sf__pcard-action .sf-wishlist__button:hover,
.sf__pcard-action .sf-pqv__button:hover {
  background-color: #000;
  box-shadow: none;
  color: #fff;
}

.sf__tooltip-item.sf__tooltip-style-1 {
  align-items: center;
  border-radius: 100%;
  display: flex;
  height: 45px;
  justify-content: center;
  transition: all 0.3s ease;
  width: 45px;
}

.sf__tooltip-item.sf__tooltip-style-1.sf__tooltip-top .sf__tooltip-content {
  bottom: calc(120% + 8px);
}

.sf__tooltip-item.sf__tooltip-style-1.sf__tooltip-left .sf__tooltip-content {
  right: calc(120% + 8px);
}

.sf__tooltip-item.sf__tooltip-style-1.sf__tooltip-bottom .sf__tooltip-content {
  top: calc(120% + 8px);
}

.sf__tooltip-item.sf__tooltip-style-1.sf__tooltip-right .sf__tooltip-content {
  left: calc(120% + 8px);
}

.sf__tooltip-item.sf__tooltip-style-1:hover {
  background: var(--color-btn-bg-hover, var(#666666));
  color: var(--color-btn-text-hover, #fff);
}

.sf__tooltip-item.sf__tooltip-top .sf__tooltip-content {
  bottom: 110%;
  left: 50%;
  transform: translate(-50%);
}

.sf__tooltip-item.sf__tooltip-top .sf__tooltip-content:after {
  bottom: -3px;
  left: calc(50% - 5px);
}

.sf__tooltip-item.sf__tooltip-top .sf__tooltip-content:before {
  height: 8px;
  left: 0;
  top: 100%;
  width: 100%;
}

.sf__tooltip-item.sf__tooltip-left .sf__tooltip-content {
  right: 110%;
  top: 50%;
  transform: translateY(-50%);
}

.sf__tooltip-item.sf__tooltip-left .sf__tooltip-content:after {
  right: -3px;
  top: calc(50% - 5px);
}

.sf__tooltip-item.sf__tooltip-left .sf__tooltip-content:before {
  height: 100%;
  right: 100%;
  top: 0;
  width: 8px;
}

.sf__tooltip-item.sf__tooltip-right .sf__tooltip-content {
  left: 110%;
  top: 50%;
  transform: translateY(-50%);
}

.sf__tooltip-item.sf__tooltip-right .sf__tooltip-content:after {
  left: -3px;
  top: calc(50% - 5px);
}

.sf__tooltip-item.sf__tooltip-right .sf__tooltip-content:before {
  height: 100%;
  left: 100%;
  top: 0;
  width: 8px;
}

.sf__tooltip-item.sf__tooltip-bottom .sf__tooltip-content {
  left: 50%;
  top: 110%;
  transform: translate(-50%);
}

.sf__tooltip-item.sf__tooltip-bottom .sf__tooltip-content:after {
  left: calc(50% - 5px);
  top: -3px;
}

.sf__tooltip-item.sf__tooltip-bottom .sf__tooltip-content:before {
  bottom: 100%;
  height: 8px;
  left: 0;
  width: 100%;
}

.sf__tooltip-item .sf__tooltip-content {
  background: #000;
  border-radius: 0.25rem;
  color: #fff !important;
  display: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  min-width: max-content;
  opacity: 0;
  padding: 0.25rem 0.75rem;
  position: absolute;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  z-index: 20;
}

.sf__tooltip-item .sf__tooltip-content:after {
  background: #000;
  content: "";
  height: 10px;
  position: absolute;
  transform: rotate(45deg);
  width: 10px;
  z-index: -1;
}

.sf__tooltip-item .sf__tooltip-content:before {
  background: transparent;
  content: "";
  position: absolute;
}

@media screen and (min-width: 1024px) {
  .sf__tooltip-item .sf__tooltip-content {
    display: block;
  }
}

.sf__tooltip-item.sf__btn-icon {
  color: #000;
}

.sf__tooltip-item:hover .sf__tooltip-content {
  opacity: 1;
  visibility: visible;
}

.sf__tooltip-item:hover.sf__tooltip-style-1.sf__tooltip-top
  .sf__tooltip-content {
  bottom: calc(100% + 8px);
}

.sf__tooltip-item:hover.sf__tooltip-style-1.sf__tooltip-left
  .sf__tooltip-content {
  right: calc(100% + 8px);
}

.sf__tooltip-item:hover.sf__tooltip-style-1.sf__tooltip-bottom
  .sf__tooltip-content {
  top: calc(100% + 8px);
}

.sf__tooltip-item:hover.sf__tooltip-style-1.sf__tooltip-right
  .sf__tooltip-content {
  left: calc(100% + 8px);
}

.sf__tooltip-item:hover.sf__tooltip-bottom .sf__tooltip-content {
  top: calc(100% + 8px);
}

.sf__tooltip-item:hover.sf__tooltip-top .sf__tooltip-content {
  bottom: calc(100% + 8px);
}

.sf__tooltip-item:hover.sf__tooltip-left .sf__tooltip-content {
  right: calc(100% + 8px);
}

.sf__tooltip-item:hover.sf__tooltip-right .sf__tooltip-content {
  left: calc(100% + 8px);
}

.sf__tooltip-item.sf__tooltip-style-2 .sf__tooltip-icon-active {
  display: none;
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
}
.-translate-y-1\/2,
.translate-x-5 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.w-8 {
  width: 2rem;
}
.h-8 {
  height: 2rem;
}

.opacity-75 {
  opacity: 0.75;
}
.bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}
.rounded-full {
  border-radius: 9999px;
}
.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.w-5 {
  width: 1.25rem;
}
.h-5 {
  height: 1.25rem;
}
.left-1\.5 {
  left: 0.375rem;
}
.top-1\.5 {
  top: 0.375rem;
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: #000;
}

.sf__hover-lookbook-icon .lookbook-product {
  pointer-events: none;
  transform: translate3d(0, 20px, 0);
  transition: all 0.3s;
}
.rounded {
  border-radius: 4px;
}
.bg-white {
  background-color: #fff;
}

.top-1\/2 {
  top: 50%;
}
.left-1\/2 {
  left: 50%;
}

.sf__hover-lookbook-icon:hover {
  z-index: 10;
}

.sf__hover-lookbook-icon:hover .lookbook-product {
  opacity: 1;
  pointer-events: auto;
  transform: translateZ(0);
  visibility: visible;
}
@media (min-width: 768px) {
  .md\:w-48 {
    width: 12rem;
  }
}

/* end shop this look */

/* shop product */
@media only screen and (min-width: 768px) {
  body .h2,
  body h2 {
    font-size: calc(
      ((var(--font-h2-desktop)) / (var(--font-base-size))) * 1rem
    );
  }
}

@media screen and (max-width: 1535px) {
  .product-tabs__header {
    margin-bottom: 50px;
  }
}

.product-tabs__header {
  margin-bottom: 60px;
  position: relative;
  z-index: 9;
}

.leading-relaxed {
  line-height: 1.625;
}

.text-\[1\.125rem\] {
  font-size: 1.125rem;
}

.md\:mr-5 {
  margin-right: 1.25rem;
}

.sf-select-custom--trigger {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-weight: inherit;
  justify-content: space-between;
  -webkit-user-select: none;
  user-select: none;
}

.sf__product-tab .sf-select-custom .sf-select-custom--trigger-icon svg {
  height: 20px;
  width: 20px;
}

.sf-select-custom.isActive .sf-select-custom--trigger-icon {
  transform: rotateX(180deg);
}

.sf-select-custom--plain
  .sf-select-custom--trigger
  .sf-select-custom--trigger-icon {
  padding-left: 20px;
}

m-select-component {
  display: block;
  position: relative;
}

m-select-component select {
  display: none;
}

.sf-select-custom--plain {
  border-bottom: 2px solid #000;
}

.sf-select-custom--plain .sf-select-custom--options {
  line-height: inherit;
  padding: 20px 25px;
}

.sf-select-custom--plain
  .sf-select-custom--trigger
  .sf-select-custom--trigger-icon {
  padding-left: 20px;
}

.sf-select-custom--custom-width {
  min-width: 250px;
}

@media screen and (max-width: 1535px) {
  .sf-select-custom--custom-width {
    min-width: 180px;
  }
}

@media screen and (max-width: 1279px) {
  .sf-select-custom--custom-width {
    min-width: 130px;
  }
}

.sf-select-custom--options {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 20px 30px #0000001f;
  color: #757575;
  left: 0;
  line-height: 32px;
  max-height: 60vh;
  min-width: 100%;
  opacity: 0;
  overflow-y: scroll;
  padding: 10px 20px;
  position: absolute;
  top: calc(100% + 20px);
  transform: translateZ(0);
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  width: min-content;
  z-index: 80;
}

.m-product-list__wrapper .sf-mixed-layout__wrapper {
  display: grid;
  margin-bottom: calc(var(--row-gap, var(--column-gap)) / -1);
}

@media (min-width: 1280px) {
  .xl\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

/* end shop product */
