*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --fluid-container-width: 1620px;
  --fluid-container-offset: 65px;
}

/* :root {
  --font-stack-body: "SF-Body-font";
  --font-weight-body: 400;
  --font-stack-header: "SF-Heading-font";
  --font-weight-header: 400;
} */
html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
body {
  --section-padding-top: 0px;
  --section-padding-bottom: 0px;
  line-height: inherit;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 14px;
  background-color: #ffffff;
  text-size-adjust: 100%;
}
h2 {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: Verdana;
}
.h4 {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: Verdana;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .lg\:flex-nowrap {
    flex-wrap: nowrap;
  }
  .lg\:w-1\/3 {
    width: 33.333333%;
  }
  .lg\:w-1\/6 {
    width: 5%;
  }
  .lg\:w-1\/4 {
    width: 20%;
  }
  .sf-footer-bottom--fade-in-up .sf__footer-bottom-inner {
    padding: 20px 0 56px;
  }
  .lg\:pb-8 {
    padding-bottom: 2rem;
  }
  .lg\:justify-start {
    justify-content: flex-start;
  }

  .rte p {
    list-style: 15px;
    margin-top: 12px;
    font-size: 0.9rem;
    font-weight: 300;
  }
}

img,
video {
  height: auto;
  max-width: 100%;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

.underline {
  text-decoration-line: underline;
}
.hidden {
  display: none;
}
.z-10 {
  z-index: 10;
}

.opacity-100 {
  opacity: 1;
}

.font-medium {
  font-weight: 500;
}
.text-base {
  font-size: calc(var(--font-base-size, 16) * 1px);
}
.list-none {
  list-style-type: none;
}

.lh40 {
  line-height: 40px;
}
menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.text-black {
  color: #000;
  text-decoration: none;
}
.text-\[15px\] {
  font-size: 15px;
}
.m-2\.5 {
  margin: 0.625rem;
}
.-m-2\.5 {
  margin: -0.625rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mr-5 {
  margin-right: 1.25rem;
}
.-mx-4 {
  margin-left: -1rem;
  margin-right: -1rem;
}
.mr-1 {
  margin-right: 0.8rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.pl-2\.5 {
  padding-left: 0.625rem;
}

.pr-4 {
  padding-right: 1rem;
}
.pr-5 {
  padding-right: 1.25rem;
}
.pr-6 {
  padding-right: 1.5rem;
}
.pl-2\.5 {
  padding-left: 0.625rem;
}
.w-5\/12 {
  width: 41.666667%;
  height: inherit;
}
.w-1\/6 {
  width: 16.666667%;
  align-items: center;
  height: inherit;
}
.w-1\/3 {
  width: 33.333333%;
  height: inherit;
}
.w-1\/4 {
  width: 25%;
  height: inherit;
}

/* .w-full {
  width: 100%;
}

.h-full {
  height: 100%;
} */

.px-2 {
  padding: 0 0.5rem;
}
.px-3 {
  padding-left: 0.62rem;
  padding-right: 0.62rem;
}

.py-2 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.py-2\.5 {
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
}

.py-5 {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
}

.px-4 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.cursor-pointer {
  cursor: pointer;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}

.flex-grow {
  flex-grow: 1;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

.w-\[14px\] {
  width: 14px;
}

.h-\[14px\] {
  height: 14px;
}
.w-\[16px\] {
  width: 16px;
}
.h-\[16px\] {
  height: 16px;
}

.w-\[18px\] {
  width: 18px;
}

.h-\[18px\] {
  height: 18px;
}

.w-\[20px\] {
  width: 20px;
}
.h-\[20px\] {
  height: 20px;
}

.w-10 {
  width: 2.5rem;
}

.h-10 {
  height: 2.5rem;
}

.w-2 {
  width: 0.5rem;
}

.h-2 {
  height: 0.5rem;
}

.transition-opacity {
  transition-duration: 0.15s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.-inset-0,
.inset-0 {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.announcement-bar {
  background-color: #da3f3f;
  color: #fff;
  z-index: 60;
  width: 100%;
}

.announcement-bar_content {
  align-items: center;
  justify-content: center;
  line-height: 20px;
  margin-right: 2.5rem;
  max-height: 40px;
  padding-left: 1rem;
  padding: 0.625rem 0;
}
.btn-topbar_close {
  height: 100%;
  color: #fff;
  align-items: center;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 0 0.75rem;
}
.topbar {
  height: 40px;
  max-height: 40px;
  transition: background 0.05s;
  white-space: nowrap;
  z-index: 99;
  border-bottom: 1px solid #eee;
  font-size: 15px;
  color: #000000;
}

.topbar_content {
  margin-left: -15px;
  margin-right: -15px;
  cursor: pointer;
}
.topbar_content .m-switcher-dropdown,
.topbar_content .social-media-links a {
  padding: 0 16px;
}

.topbar_content .social-media-links {
  margin: 0 -8px;
}
.social-media-links--label {
  padding-left: 10px;
  padding-right: 16px;
}

.sf-menu-logo-bar {
  margin-left: -15px;
  margin-right: -15px;
  height: 63px;
}

.m-tooltip {
  border-radius: 9999px;
  cursor: pointer;
  position: relative;
  padding: 5px;
}
@media screen and (min-width: 1024px) {
  .m-cart-icon-bubble {
    margin-right: 22px;
  }
}

.m-cart-icon-bubble {
  padding: 8px;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: calc(
    var(--fluid-container-width, 1620px) + var(--fluid-container-offset) * 2
  );
}

.container-full {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.sf-currency-switcher,
.sf-language-switcher {
  padding: 0 0.5rem;
}

.header_wrapper {
  transition: transform 0.4s, background-color 0.2s;
  width: 100%;
  will-change: transform, background-color;
  height: 63px;
}

.sf-menu__arrow {
  transition: transform 0.3s;
}
.sf__parent-item {
  text-decoration: none;
  font-size: 14.5px;
  font-weight: 550;
}

.sf-logo {
  font-size: 1rem;
  line-height: unset;
  transition-duration: 0.3s;
  transition-property: all;
}
.sf-image {
  vertical-align: middle;
  width: var(--image-width, 100%);
}

.icon-header-style {
  font-size: 16px;
  border: 0 solid #e5e7eb;
  color: #000000;
  text-decoration: none;
}

.header-icon .sf-search-form {
  font-size: 1rem;
  height: 100%;
}

.sf-home__iconbox {
  border-top: 1px solid #eee;
}
.sf-grid {
  margin: 0 calc(var(--column-gap) / -2)
    calc(var(--row-gap, var(--column-gap)) / -1) !important;
}

.box-parents {
  padding: 2.35rem 0;
}
.text-color-subtext {
  color: #666666;
  margin: 0;
}

.sf__accordion-item .sf__accordion-button {
  cursor: pointer;
  font-weight: 500;
  padding-right: 2rem;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
}

@media screen and (min-width: 1024px) {
  .sf__footer-block-newsletter .sf__footer-block-title {
    font-size: 28px;
    font-weight: 400;
  }
}

.sf-footer .sf-footer__block ul li {
  cursor: pointer;
  text-decoration: none;
  color: #666666;
}

.sf-footer__accordion {
  padding: 80px 0;
}

.sf-footer .sf__footer-block-content,
.sf-footer,
.subtext {
  text-decoration: none;
  color: #666666;
}

.leading-8 {
  line-height: 2rem;
}

.sf-footer form.sf__footer-form-newsletter .sf__newletter__form-input {
  color: var(--color-footer-subtext);
  padding: 0.375rem 3rem;
}
.hover-underline a:after {
  background-color: var(--color-primary);
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transition: all 0.3s ease;
  width: 0;
}
.form-control {
  --tw-text-opacity: 1;
  background-color: transparent;
  background-color: #fff;
  border-color: var(--color-border);
  border-radius: 0.25rem;
  border-width: 1px;
  color: rgb(55 65 81 / var(--tw-text-opacity));
  font-size: calc(var(--font-base-size, 16) * 1px);
  line-height: 2rem;
  margin-bottom: 10px;
  margin-top: 5px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: 0.375rem 0.75rem;
  transition-duration: 0.2s;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.sf__footer-form-newsletter-icon,
.sf__footer-form-newsletter .sf__form-submit {
  align-items: center;
  display: inline-flex;
  height: 100%;
  left: 5px;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  color: #666666;
}
.sf__footer-form-newsletter .sf__form-submit {
  left: auto;
  padding: 0 15px;
  pointer-events: auto;
  right: 0;
}
.form-control.form__control-icon {
  border: 0 solid #e5e7eb;
  padding-left: 3rem;
  padding-right: 3rem;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  background-color: transparent;
  background-image: none;
  border: none;
}
.footer-infor,
.sf__footer-bottom {
  background-color: #f5f5f5;
}

.hover-underline a {
  text-decoration: none;
  color: #666666;
}

body .sf-footer__block .social-media-links a {
  color: #222;
  width: 48px;
  height: 48px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e9e9e9;
  transition: all 0.3s;
}
.sf-icon-box__text h4 {
  font-size: 16px;
  font-weight: 500px;
}

/* follow instagram */

.sf__ms {
  display: block;
}
.sf__insta-item {
  display: block;
  position: relative;
  overflow: hidden;
}
.sf__insta-item .sf__insta-image img {
  transform: scale(1.06);
  transform-origin: center;
  transition: transform 0.64s ease;
  will-change: transform;
}

.sf__insta-item .sf__insta-content .sf__insta-icon {
  align-items: center;
  background: #fff;
  border-radius: 50%;
  display: flex;
  height: 55px;
  justify-content: center;
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 0.32s cubic-bezier(0.4, 0, 0.21, 0.99),
    transform 0.32s cubic-bezier(0.4, 0, 0.21, 0.99);
  width: 55px;
  will-change: transform;
}

.sf__insta-item .sf__insta-content .sf__insta-icon svg {
  height: 24px;
  width: 24px;
}

.sf__insta-item:hover .sf__insta-image img {
  transform: scale(1);
}

.sf__insta-item:hover .sf__insta-content .sf__insta-icon {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .md\:grid {
    display: grid;
  }
  .sf-grid {
    margin: 0 calc(var(--column-gap) / -2)
      calc(var(--row-gap, var(--column-gap)) / -1) !important;
  }
  .md\:mt-5 {
    margin-top: 1.25rem;
  }
}

.sf-column {
  padding: 0 calc(var(--column-gap) / 2) var(--row-gap, var(--column-gap));
}
@media screen and (min-width: 1280px) {
  .xl\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.section__header.text-center {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 60px;
}

@media screen and (max-width: 1535px) {
  .section__header {
    margin-bottom: 50px;
  }
  .section__heading {
    font-weight: 400;
    font-size: 34px !important;
    line-height: 44px !important;
  }
}
.section__description {
  color: #666666;
  font-size: calc(var(--font-base-size, 16) * 1px);
  margin-top: 1rem;
  line-height: 1.5rem !important;
}

.section__description a {
  color: #000;
  font-weight: 500;
  text-decoration: underline;
}

/* new collection  */

.sf-custom--collection-banner .image-card--button-fixed .sf__btn-fixed {
  border-color: #e2e2e2;
}
.image-card--button-fixed .sf__btn-fixed {
  align-items: center;
  background-color: transparent;
  border-color: currentColor;
  border-radius: 0;
  font-weight: 400;
  border-width: 1px 0 0 !important;
  bottom: 0;
  box-shadow: none !important;
  display: flex;
  justify-content: space-between;
  left: 2.5rem;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  right: 2.5rem;
}

@media screen and (min-width: 1280px) {
  .sf-custom--collection-banner .image__card-subheading,
  .sf-lookbook-slider__header .content__subheading {
    font-size: 20px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .sf-lookbook-slider__header .content__heading,
  .sf-custom-text--large .content__heading,
  .sf-custom--collection-banner .image__card-heading {
    font-size: 50px;
    font-weight: 400;
    line-height: 70px;
  }
}

.image__card-subheading,
.content__subheading {
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  .lg\:w-1\/2 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .image-card--button-fixed .sf__btn-fixed {
    padding-bottom: 40px;
    padding-top: 24px;
  }
}
.image-card--button-fixed .sf__btn-fixed {
  padding-bottom: 20px;
}

@media (min-width: 1024px) {
  .btn.sf__btn-large,
  .sf__btn-large.shopify-payment-button__button.shopify-payment-button__button--unbranded,
  .sf__btn.sf__btn-large {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
.btn.sf__btn-large,
.sf__btn-large.shopify-payment-button__button.shopify-payment-button__button--unbranded,
.sf__btn.sf__btn-large {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

@media (min-width: 1024px) {
  .btn.sf__btn-large,
  .sf__btn-large.shopify-payment-button__button.shopify-payment-button__button--unbranded,
  .sf__btn.sf__btn-large {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
.btn.sf__btn-large,
.sf__btn-large.shopify-payment-button__button.shopify-payment-button__button--unbranded,
.sf__btn.sf__btn-large {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}
.btn,
.sf__btn {
  border: 1px solid transparent;
  border-radius: var(--btn-border-radius, 0);
  display: inline-block;
  font-size: var(--font-btn-size, 1rem);
  font-weight: var(--font-btn-weight, 500);
  letter-spacing: var(--btn-letter-spacing, 0);
  line-height: var(--btn-line-height, "normal");
  outline: none;
  text-transform: var(--btn-text-transform, "");
  transition: all 0.32s;
}
@media (min-width: 768px) {
  .btn,
  .sf__btn {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .image-card--button-fixed .sf__btn-fixed {
    padding: 1.625rem 0;
    text-align: center;
    white-space: nowrap;
  }
}

@media screen and (min-width: 1024px) {
  .sf-custom--collection-banner .image-card__content {
    padding-top: 70px;
  }
}

.responsive-image {
  display: inline-block;
}

.sf__hover-scale-up .sf-image,
.sf__hover-scale-up svg {
  backface-visibility: hidden;
  transition: transform 0.64s cubic-bezier(0.15, 0.75, 0.5, 1) 0s;
}

.image-card__inner img {
  display: block;
  transition: all 0.52s ease;
  cursor: pointer;
}

.image-card__inner img:hover {
  transform: scale(1.1);
}

.image-card__inner .sf-image-collections {
  display: inline-block;
  overflow: hidden;
}

responsive-image {
  display: inline-block;
}

/* end  */

/* Slider  */

.slider__navi {
  top: 50%;
  bottom: 50%;
  right: 40px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 999;
  padding: 5px 0;
  pointer-events: auto;
  z-index: 39;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider__navi a {
  border-radius: 10px;
  height: 8px;
  width: 8px;
  margin: 8px 0;
  text-indent: -9999px;
  box-shadow: none;
  border: none;
  background: #000;
  transition: width 0.5s ease-in-out 0s;
}

.slider__navi a.active {
  background: transparent;
  border: 1px solid #000;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  transition: ease-in-out 0.5s linear;
}

.slider__wrapper {
  width: 100%;
  position: relative;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  height: 593px;
  z-index: 3;
}

.flex__container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  height: 593px;
  width: 100%;
  z-index: 1;
}

.flex__shopNow {
  position: relative;
  bottom: 3rem;
  left: 0;
  right: 0;
  z-index: 29;
  gap: 8px;
  display: flex;
  justify-content: end;
}

.last-content-slide {
  width: 240px;
  display: flex;
  justify-content: space-around;
}
.last-content-slide a {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #000;
  font-size: 16px;
  font-weight: 549;
  padding: 0 0 4px 0;
}

.flex__container.flex--active {
  z-index: 2;
}

.text--sub {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 40px;
}

.text--big {
  font-family: "Poppins", sans-serif;
  font-size: 3.5em;
  font-weight: 400;
  line-height: 80px;
}

.text--normal {
  font-size: 13px;
  color: #000000;
  line-height: 22px;
  margin-top: 25px;
}

.text__background {
  font-family: "Poppins", sans-serif;
  position: absolute;
  left: 72px;
  bottom: -60px;
  color: rgba(0, 0, 0, 0.05);
  font-size: 170px;
  font-weight: 700;
}

.flex__item {
  height: 100%;
  color: #000000;
  transition: transform 0.3s ease-in-out;
}
@media screen and (min-width: 1280px) {
  .flex__item {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.flex__item--slider {
  align-items: flex-start;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  width: 100%;
  transform-origin: left bottom;
  transition: all 0.3s ease;
  opacity: 0;
  position: relative;
  overflow: hidden;
}

.flex--preStart .flex__item--slider,
.flex--preStart,
.flex--active .flex__item--slider,
.flex--active {
  opacity: 1;
  transition: all 0.3s ease;
}

/* data-slide 3*/

.flex--slide3 {
  width: 100%;
  background: url("../dist/images/slide3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  transition-duration: var(--offset-x);
}

/* data-slide 2 */

.flex--slide2 {
  width: 100%;
  background: url("../dist/images/slide2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  transition-duration: var(--offset-x);
}

/* data-slide 1 */

.flex--slide1 {
  width: 100%;
  background-image: url("../dist/images/slide1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  transition-duration: var(--offset-x);
}

.flex__content {
  width: 30%;
  opacity: 1;
  transition: transform 0.3s ease 0.3s, opacity 0.3s ease 0.3s;
}
.flex__item--slider .flex__content .sf__btn-secondary {
  border: 1px solid #000;
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
  transition: all 0.3 ease;
  opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--slider {
  transition: all 0.3 ease;
}

.flex__container.animate--end .flex__content {
  transition: all 0.3 ease;
  opacity: 0;
}

/* end Slider */

/* season collection */

@media screen and (min-width: 1024px) {
  .container-fluid {
    --offset-x: calc(var(--fluid-container-offset, 6rem) / 1.25);
  }
}

@media screen and (max-width: 1535px) {
  .section__header {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1535px) {
  .slider__wrapper {
    width: 100%;
    position: relative;
    font-size: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    height: 1066px;
  }

  .flex__container {
    width: 100%;
    height: 1066px;
  }
  .slider__navi {
    bottom: 50%;
    top: 50%;
  }
}

@media (min-width: 1024px) {
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 640px) {
  .sm\:items-start {
    align-items: flex-start;
  }
}

.flex-col {
  flex-direction: column;
}

.shrink-0 {
  flex-shrink: 0;
}
.sf-icon-box__icon {
  width: 100%;
  overflow: hidden;
}
.flex-1 {
  flex: 1 1 0%;
}
.font-medium {
  font-weight: 500;
}

.sf__btn {
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border-color: #dadada;
}

.sf__btn.sf__btn-secondary,
a.sf__btn.sf__btn-secondary,
button.sf__btn.sf__btn-secondary {
  background-color: transparent;
  border: 1px solid #dadada;
  border-radius: 5px;
  color: #000000;
  text-align: center;
  padding: 0.625rem 1.25rem;
  text-align: center;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 400;
}

.sf__btn.sf__btn-secondary:hover {
  background-color: #000000;
  outline: none;
  color: #fff;
  transform: scale(1.1, 1.1);
  transition: all 0.52s;
}

.mb-1\.5 {
  margin-bottom: 0.375rem;
}

.sf-icon-box__icon img {
  display: block;
  transition: all 0.52s ease;
}

.sf-icon-box__icon img:hover {
  transform: scale(1.1);
}

.sf-icon-box__icon .zoom-image {
  display: inline-block;
  overflow: hidden;
}

/* end */
